@charset "UTF-8";
/* 颜色 */
/* 基础布局 */
.login {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #323542;
  position: absolute; }
  .login .title {
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    height: 2.66667rem;
    color: #fff; }
  .login .coordinates-icon {
    width: 5.33333rem;
    height: 3.33333rem;
    margin: 0.66667rem auto;
    position: relative; }
    .login .coordinates-icon .coordinates {
      width: 2rem;
      overflow: hidden;
      position: absolute;
      z-index: 8;
      left: 32%; }
      .login .coordinates-icon .coordinates img {
        width: 100%;
        height: auto; }
    .login .coordinates-icon .circle-1-1 {
      width: 100%;
      height: 2rem;
      overflow: hidden;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 100%;
      background-color: #3a3d4a;
      position: absolute;
      bottom: 0;
      z-index: 1;
      opacity: 0; }
    .login .coordinates-icon .circle-2-2 {
      width: 3.06667rem;
      height: 1.06667rem;
      overflow: hidden;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 100%;
      background-color: #4e515c;
      left: 75%;
      margin-left: -2.89333rem;
      bottom: 0.46667rem;
      position: absolute;
      z-index: 2;
      opacity: 0; }
    .login .coordinates-icon .circle-3-3 {
      width: 1.73333rem;
      height: 0.66667rem;
      overflow: hidden;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 100%;
      background-color: #71747d;
      z-index: 3;
      left: 35%;
      margin-left: -0.10667rem;
      bottom: 0.66667rem;
      position: absolute;
      opacity: 0; }
  .login .login-form {
    width: 8rem;
    height: auto;
    margin: 0 auto; }
    .login .login-form .common-div {
      width: 100%;
      height: 1.06667rem;
      overflow: hidden;
      border-radius: 4px;
      margin-bottom: 0.66667rem; }
      .login .login-form .common-div > .common-icon {
        float: left;
        width: 0.53333rem;
        height: 0.53333rem;
        line-height: 0.53333rem;
        overflow: hidden;
        margin: 0.26667rem;
        text-align: center; }
        .login .login-form .common-div > .common-icon .iconfont {
          color: #fff; }
        .login .login-form .common-div > .common-icon img {
          width: 100%;
          height: auto; }
      .login .login-form .common-div > input {
        float: left;
        line-height: 1.06667rem;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        color: #fff; }
    .login .login-form .user-name,
    .login .login-form .user-pasw {
      background-color: rgba(255, 255, 255, 0.1); }
    .login .login-form .login-btn {
      background-color: #0bd38a;
      color: #fff;
      font-size: 20px;
      text-align: center;
      height: 1.33333rem;
      line-height: 1.33333rem;
      margin-bottom: 0.66667rem;
      border-radius: 4px; }
  .login .forgets {
    width: 8rem;
    height: auto;
    margin: 0 auto; }
    .login .forgets > a {
      color: #fff;
      opacity: 0.2;
      font-size: 16px; }
      .login .forgets > a + a {
        float: right; }

.topAct {
  animation: topAct 3s ease-in-out infinite;
  -webkit-animation: topAct 3s ease-in-out infinite;
  -moz-animation: topAct 3s ease-in-out infinite;
  -o-animation: topAct 3s ease-in-out infinite;
  -ms-animation: topAct 3s ease-in-out infinite; }

@keyframes topAct {
  0% {
    top: -1.33333rem; }
  50% {
    top: -0.4rem; }
  100% {
    top: -1.33333rem; } }

@-webkit-keyframes topAct {
  0% {
    top: -1.33333rem; }
  50% {
    top: -0.4rem; }
  100% {
    top: -1.33333rem; } }

@-moz-keyframes topAct {
  0% {
    top: -1.33333rem; }
  50% {
    top: -0.4rem; }
  100% {
    top: -1.33333rem; } }

.circle-show {
  animation: circleShow 3s ease-in-out infinite 1s;
  -webkit-animation: circleShow 3s ease-in-out infinite 1s;
  -moz-animation: circleShow 3s ease-in-out infinite 1s;
  -ms-animation: circleShow 3s ease-in-out infinite 1s;
  -o-animation: circleShow 3s ease-in-out infinite 1s; }

@keyframes circleShow {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes circleShow {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes circleShow {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.circle-show-1 {
  animation: circleShow1 3s ease-in-out infinite 1.2s;
  -webkit-animation: circleShow1 3s ease-in-out infinite 1.2s;
  -moz-animation: circleShow1 3s ease-in-out infinite 1.2s;
  -ms-animation: circleShow1 3s ease-in-out infinite 1.2s;
  -o-animation: circleShow1 3s ease-in-out infinite 1.2s; }

@keyframes circleShow1 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes circleShow1 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes circleShow1 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.circle-show-2 {
  animation: circleShow2 3s ease-in-out infinite 1.4s;
  -webkit-animation: circleShow2 3s ease-in-out infinite 1.4s;
  -moz-animation: circleShow2 3s ease-in-out infinite 1.4s;
  -ms-animation: circleShow2 3s ease-in-out infinite 1.4s;
  -o-animation: circleShow2 3s ease-in-out infinite 1.4s; }

@keyframes circleShow2 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes circleShow2 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes circleShow2 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
